.product-search {
  display: flex;
  align-items: stretch;
  margin-bottom: 1.4rem;
}

.product-search-input {
  width: 550px;
  height: 45px;
  padding: 7px 10px;
  font-size: 18px;
  border: 2px solid black;
  border-right: none;
  background-color: rgb(240, 240, 240);
}
input:focus {
  outline: none;
}
.product-search > span {
  background-color: black;
}
.btn-search {
  width: 100%;
  height: 100%;
  border: none;
  background-color: black;
  color: white;
  padding: 7px 25px;
  font-size: 18px;
  cursor: pointer;
}

.search-display {
  font-size: 25px;
}
