<!-- <div class="product-grid"> -->
<div class="container">
  <!-- product-1 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-2 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-3 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-4 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <search (searchTextChanged)="searchTextChangeEvent($event)"></search>
  <app-product-list
    [searchInputText]="searchText"
    #selectedProduct
  ></app-product-list>
  <product-detail *ngIf="selectedProduct.selectedProduct"></product-detail>
</div>
