.container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.featured-products {
  display: flex;
  background: #383838;
  padding: 20px 30px;
  margin: 20px 60px;
}

.featured-products-heading {
  color: #ffffff;
  margin: 10px 20px;
  width: 400px;
  padding: 20px 30px;
}

.featured-products-item {
  width: 300px;
  margin: 10px;
  padding: 20px 30px;
  background-color: white;
  gap: 2rem;
}

.title,
.description,
.call-to-action {
  margin: 10px 0;
}

.call-to-action {
  background: #232323;
  color: white;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}
