<!-- <div class="product-grid"> -->
<div class="container">
  <!-- product-1 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-2 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-3 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <!-- product-4 -->
  <!-- <div class="product-container">
    <img [src]="product.pImage" alt="product" />
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " left"
          : "No products left"
      }}
    </p>
    <div class="cart-btn">
      <button (click)="decrement()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="increment()">+</button>
    </div>
  </div> -->
  <search (searchTextChanged)="searchTextChangeEvent($event)"></search>
  <!-- <ng-container *ngIf="toggle; else toggleOff">
    <h2>Toggle is On</h2>
  </ng-container>
  <ng-template #toggleOff>
    <h2>Toggle is Off</h2>
  </ng-template>
  <button style="width: 100px;" (click)="onToggle()">click me</button> -->
  <app-product-list
    [searchInputText]="searchText"
    #selectedProduct
  ></app-product-list>
  <product-detail *ngIf="selectedProduct.selectedProduct" [productListComp]="productListComponent"></product-detail>
  <div class="featured-products">
    <div class="featured-products-heading">
      <h3>NEW ARRIVALS</h3>
    </div>
    <featured-brands>
      <h3 class="title">New Arrivals in Nike</h3>
      <button class="call-to-action">New Arrivals in Nike</button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Puma</h3>
      <button class="call-to-action">New Arrivals in Puma</button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Adidas</h3>
      <button class="call-to-action">New Arrivals in Adidas</button>
    </featured-brands>
  </div>
</div>
