<!-- <div class="form-page">
 <div class="form-wrap ">
     <h2>{{ fullName }}</h2>
  <div class="form-container">
    <input type="text" placeholder="First Name" #inputEl />
    <input type="text" placeholder="Middle Name" #inputEl />
    <input type="text" placeholder="Last Name" #inputEl />
    <button (click)="show()">Click Me</button>
  </div>
 </div>
</div> -->

<!-- ngTemplate -->
<!-- <h2>Outside ng template element</h2>
  <ng-template #templateElement>
    <h2>Inside ng template</h2>
  </ng-template>
  <div *ngTemplateOutlet="templateElement"></div> -->



  <ng-container *ngIf="toggle; else toggleOff">
    <h2>Toggle is On</h2>
  </ng-container>
  <ng-template #toggleOff>
    <h2>Toggle is Off</h2>
  </ng-template>
  <button (click)="onToggle()">click me</button>

