<div class="parent">
    <app-child>
        <h3>Some Heading</h3>
        <p #para>
            Justin ipsum dolor sit amet consectetur adipisicing elit. Cumque rem repellendus inventore animi necessitatibus officiis nostrum minus harum odit, dolorum ut explicabo dolor sit magnam laborum voluptas consectetur unde qui!
        </p>
        <p #para>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem repellendus inventore animi necessitatibus officiis nostrum minus harum odit, dolorum ut explicabo dolor sit magnam laborum voluptas consectetur unde qui!
        </p>
        <p #para>
            Peter ipsum dolor sit amet consectetur adipisicing elit. Cumque rem repellendus inventore animi necessitatibus officiis nostrum minus harum odit, dolorum ut explicabo dolor sit magnam laborum voluptas consectetur unde qui!
        </p>
        <app-test [name]="'John Wick'"></app-test>
        <app-test [name]="'Mary Jane'"></app-test>
        <app-test [name]="'Peter Parker'"></app-test>
    </app-child>
   
</div>