<!-- <top-header></top-header> -->
<!-- <apptop-header></apptop-header>
<app-header></app-header>
<container></container> -->
<!-- <app-form></app-form> -->
<!-- <app-parent></app-parent> -->
<div class="container">
  <div class="demo-wrap">
    <div class="input-wrap">
      <input type="text" #inputEl />
      <button (click)="onButtonClicked(inputEl)">Submit</button>
    </div>
    <app-demo [message]="inputVal">
      <p #temp>This is a projected content {{inputVal}}</p>
    </app-demo>
  </div>
</div>
