<div class="featured-products-item">
    <!-- <h3 class="title">New Arrivals in Nike</h3> -->
     <ng-content select=".title"></ng-content>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut quo consequuntur commodi quidem assumenda sed? Consequuntur est provident voluptates eligendi velit earum sint unde exercitationem quisquam in? Illum, optio.
    </p>
    <!-- <button class="call-to-action">Learn More</button> -->
     <ng-content select=".call-to-action"></ng-content>
  </div>
