<app-filter
  [all]="totalItems"
  [inStock]="inStockItems"
  [outOfStock]="outOfStockItems"
  (selectedFilterRadioButtonChanged)="onFilterChange($event)"
></app-filter>


<!-- <app-button (isButtonClicked)="onButtonClickEvent($event)"></app-button> -->


<div class="product-grid">
  <!-- *ngIf="
        selectedFilterRadioButton === 'all' ||
        prod.is_in_inventory.toString() === selectedFilterRadioButton
      " -->
  <ng-container *ngFor="let prod of products">
    <app-product
      [product]="prod"
      *ngIf="
        searchInputText === '' ||
        prod.name.toLowerCase().includes(searchInputText)
      "
      (click)="selectedProduct = prod"
    ></app-product>
  </ng-container>
</div>
