<app-filter
  [all]="totalItems"
  [inStock]="inStockItems"
  [outOfStock]="outOfStockItems"
  (selectedFilterRadioButtonChanged)="onFilterChange($event)"
></app-filter>


<app-button (isButtonClicked)="onButtonClickEvent($event)"></app-button>


<div class="product-grid">
  <!-- *ngIf="
        selectedFilterRadioButton === 'all' ||
        prod.is_in_inventory.toString() === selectedFilterRadioButton
      " -->
  <div *ngFor="let prod of products" (click)="selectedProduct = prod">
    <app-product
      [product]="prod"
      *ngIf="
        searchInputText === '' ||
        prod.name.toLowerCase().includes(searchInputText)
      "
    ></app-product>
  </div>
</div>
